In [52]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [53]:
data_df = pd.read_csv("Project_data_csv")

In [54]:
data_df.shape

(270223, 30)

In [55]:
data_df.head()

,Unnamed: 0,batting_team,bowling_team,innings_num,over_col,ball_col,Match ID,Start Date,Runs,Running Total,...,Wickets Remaining,Extras,Over and Balls Total,Team Value,DLS %,Target Score,Ground RPO,Ground RPW,Batting Team Result DLS,DLS Correct?
0,0,Pakistan,Australia,2,20,1,1000887,2017-01-13,0,91,...,7,N/E,55,16,38.6,104,4.79,29.31,Australia,Yes
1,1,Pakistan,Australia,2,20,2,1000887,2017-01-13,0,91,...,7,N/E,55,16,38.8,104,4.79,29.31,Australia,Yes
2,2,Pakistan,Australia,2,20,3,1000887,2017-01-13,0,91,...,7,N/E,55,16,38.9,105,4.79,29.31,Australia,Yes
3,3,Pakistan,Australia,2,20,4,1000887,2017-01-13,0,91,...,7,N/E,55,16,39.1,105,4.79,29.31,Australia,Yes
4,4,Pakistan,Australia,2,20,5,1000887,2017-01-13,1,92,...,7,N/E,55,16,39.3,106,4.79,29.31,Australia,Yes

In [56]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270223 entries, 0 to 270222
Data columns (total 30 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Unnamed: 0               270223 non-null  int64
 1   batting_team             270223 non-null  object
 2   bowling_team             270223 non-null  object
 3   innings_num              270223 non-null  int64
 4   over_col                 270223 non-null  int64
 5   ball_col                 270223 non-null  int64
 6   Match ID                 270223 non-null  int64
 7   Start Date               270223 non-null  object
 8   Runs                     270223 non-null  int64
 9   Running Total            270223 non-null  int64
 10  Batter out               270223 non-null  object
 11  Wickets taken            270223 non-null  int64
 12  Start Team               270223 non-null  object
 13  Remaining Team           270223 non-null  object
 14  Venue                    270223 non-null  object
 15  Winner                   270223 non-null  object
 16  First Team Innings       270223 non-null  int64
 17  Remaining Overs          270223 non-null  int64
 18  Remaining Balls          270223 non-null  int64
 19  Remainder                270223 non-null  float64
 20  Wickets Remaining        270223 non-null  int64
 21  Extras                   270223 non-null  object
 22  Over and Balls Total     270223 non-null  int64
 23  Team Value               270223 non-null  int64
 24  DLS %                    270223 non-null  float64
 25  Target Score             270223 non-null  int64
 26  Ground RPO               270223 non-null  float64
 27  Ground RPW               270223 non-null  float64
 28  Batting Team Result DLS  270223 non-null  object
 29  DLS Correct?             270223 non-null  object
dtypes: float64(4), int64(15), object(11)
memory usage: 61.8+ MB

Do I need to change the original data code to change batting team and bowling team to team 1 and team 2?  And should I remove

In [57]:
winner_no = []
for index, row in data_df.iterrows():
    if row['Winner'] == row['batting_team']:
        winner_no.append(1)
    elif row['Winner'] == row['bowling_team']:
        winner_no.append(0)
    else:
        winner_no.append("draw")

In [62]:
type(winner_no[0])

int

In [76]:
if 'Draw' in winner_no: print("Draw")

In [58]:
winner_no_df = pd.DataFrame(winner_no)

In [64]:
winner_no_df

        0
0       0
1       0
2       0
3       0
4       0
...    ..
270218  1
270219  1
270220  1
270221  1
270222  1

[270223 rows x 1 columns]

In [65]:
winner_no_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270223 entries, 0 to 270222
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       270223 non-null  object
dtypes: object(1)
memory usage: 2.1+ MB

In [69]:
winner_no_df = winner_no_df.astype('int')

ValueError: invalid literal for int() with base 10: 'draw'

In [74]:
winner_no_df.rename(columns={0: 'Winning num'}, inplace=True)

In [75]:
winner_no_df[winner_no_df['Winning num'].str.contains("Draw")==True]

Empty DataFrame
Columns: [Winning num]
Index: []

In [70]:
winner_no_df[winner_no_df=="Draw"]

          0
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
...     ...
270218  NaN
270219  NaN
270220  NaN
270221  NaN
270222  NaN

[270223 rows x 1 columns]

In [ ]:
data_df['Winner num'] = winner_no_df[0]

Chose numerical values that feed into my hypothesis (wickets taken, team value, ground scores and remaining overs and balls feed into the prediction.)  Changed Winner into a numerical field for prediction as this will be the target variable.

In [ ]:
data_df = data_df[['Match ID', 'Running Total', 'Wickets taken', 'First Team Innings', 'Remainder', 'Team Value', 'Ground RPO', 'Ground RPW', 'Winner num' ]]

In [ ]:
data_df.rename(columns={'Running Total': 'Team 1 Score', 'First Team Innings': 'Team 0 Score'}, inplace=True)

In [ ]:
data_df

In [ ]:
data_df.info()

In [ ]:
data_df.describe()

#write some commentary here about the statistics

In [ ]:
data_df.hist(bins=50, figsize=(12, 8))
plt.show()

Why is winner num an object/??